<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:passwords.xml"/>
	<import resource="classpath:comm-lib.xml"/>

	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

	
	<jaxws:endpoint id="Service1PublicKeyService" 
		implementor="org.ib.sso.business.service1.Service1Impl"
		wsdlLocation="WEB-INF/wsdl/Service1.wsdl"
		serviceName="svc:Service1Service" xmlns:svc="http://sso.ib.org/service/service1/"
		endpointName="svc:Service1PublicKeyPort"
		address="/Service1PublicKey">
		
		<jaxws:properties>
			<entry key="ws-security.signature.properties" value="service1.properties" />
			<entry key="ws-security.signature.username" value="service1key"/>
	        
	        <entry key="ws-security.callback-handler" value-ref="usernamePasswordCallbackHandler"/>

	        <entry key="ws-security.encryption.properties" value="service1.properties"/>
	        <entry key="ws-security.encryption.username" value="useReqSigCert"/>
		</jaxws:properties>
		
	</jaxws:endpoint>
	
	<jaxws:endpoint id="Service1BearerService" 
		implementor="org.ib.sso.business.service1.Service1Impl"
		wsdlLocation="WEB-INF/wsdl/Service1.wsdl"
		serviceName="svc:Service1Service" xmlns:svc="http://sso.ib.org/service/service1/"
		endpointName="svc:Service1BearerPort"
		address="/Service1Bearer">
		
		<jaxws:properties>
			<entry key="ws-security.signature.properties" value="service1.properties" />
			<entry key="ws-security.signature.username" value="service1key"/>
	        
	        <entry key="ws-security.callback-handler" value-ref="usernamePasswordCallbackHandler"/>

	        <entry key="ws-security.encryption.properties" value="service1.properties"/>
	        <entry key="ws-security.encryption.username" value="useReqSigCert"/>
		</jaxws:properties>
		
	</jaxws:endpoint>

</beans>
