<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<jaxws:endpoint id="service1Ext"
		implementor="org.ib.sso.comm.ext.Service1Ext"
		wsdlLocation="WEB-INF/wsdl/Service1.wsdl"
		serviceName="svc:Service1Service" xmlns:svc="http://sso.ib.org/service/service1/"
		endpointName="svc:Service1ExtPort"
		address="/Service1">
		
	</jaxws:endpoint>

</beans>
